ipykernel
ipython
jupyter_client
jupyter_core
matplotlib
matplotlib-inline
networkx
wordcloud
numpy
openpyxl
packaging
pandas
pillow
scikit-learn
statsmodels
seaborn
xgboost
google-api-python-client
aiohttp
konlpy
mecab-python3
jamo
soynlp
nltk
transformers
torch
openai
python-dotenv
# pip install git+https://github.com/haven-jeon/PyKoSpacing.git
# pip install git+https://github.com/ssut/py-hanspell.git
gensim
scipy
kobert-transformers
sentencepiece

